body {
  background: #ffeaad;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  background: rgb(165, 77, 42);
  text-align: center;
  font-size: 20px;
  width: 100%;
  padding: 3px;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
}

img{
   display: block;
   margin: 0 auto;
   border: 3px solid rgb(165, 77, 42);
   border-radius: 3px;
}

.currLink {
  text-decoration: none;
  margin-right: 15px;
}

.currLink.active {
  text-decoration: underline;
  font-weight: bold;
}

 section{
    width: 50%; 
    border: 2px solid rgb(165, 77, 42);
    border-radius: 3px;
    margin-bottom: 10px;
    margin-left: 25%; 
    padding-left: 15px;
    padding-bottom: 15px;
  }

  h1{
    padding-left: 15px;
    margin-left: 25%;
  }

  h3{
    padding-left: 15px;
    margin-left: 25%;
  }

  .recipe-content {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.recipe-text {
  min-width: 250px;
}

.recipe-image {
  max-width: 300px;
  height: auto;
  border: 4px solid #a54d2a;
}

.Abutton {
  padding: 5px 15px;
  background-color: #a54d2a;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  font-size: 16px;
}
.Abutton:hover {
  background-color: #c76139;
}